
* @Author: MACHENIKE
* @Date:   2017-03-21 14:34:29
* @Last Modified by:   MACHENIKE
* @Last Modified time: 2017-03-24 11:44:43
*/
 /* 通用选择器 */
 *{
 	margin: 0;
 	padding: 0;
 	list-style: none;
 }
 /* 通用选择器结束 */
 /* 顶部开始 */
 .head{
 	width: 100%;
 	height: 32px;
 	border-bottom: 1px solid #ccc;
 	background: #F7F7F7;
 	font-size: 12px;
 	margin: 0 auto;
 }
 .con{
 	width: 1200px;
 	height: 32px;
 	margin: 0 auto;
 	text-align: center;
 	line-height: 32px;
 }
 a{
 	text-decoration: none;
 	color: #808080;
 }
 .hy{
 	color: #808080;
 	margin-right: 5px;
 	display: inline-block;
 }
 .right1{
 	width: 130px;
 	height: 100%;
 	float: right;
 }
 .right2{
 	width: 300px;
 	height: 100%;
 	float: right;
 }
 .login{
 	margin-right: 10px;
 	display: inline-block;
 }
 .register{
 	margin-right: 10px;
 	display: inline-block;
 }
 .mine{
 	margin-right: 10px;
 	display: inline-block;
 }
 .mine:hover{
 	color: #b81b22;
 }
 .right1 img{
 	text-align: center;
 	display: block;
 	float: right;
 	line-height: 32px;
 	margin-top: 6px;
 	margin-right: 2px;
 }
 #gg{
 	float: left;
 }
.ho:hover{
 	color:#B81B22;
 }
 /* 顶部结束 */
 /* 搜索栏开始 */
 .so{
 	width: 1200px;
 	height: 88px;
	margin: 0 auto;
	position: relative;
	top: 0;
	left: 0;
 }
.so1 input{
	background:#B81B22;
	height: 29px;
	width: 48px;
	color: #fff;
	float: right;
	margin-top:40px; 
}
.sobar{
	width: 260px;
	height: 28px;
	border: 1px solid #8AACE3;
	float: right;
	margin-top: 40px;	
}
.so .gouwuche1{
	width: 107px;
	height: 28px;
	background-image: url('../img/vanclsprite.png');
	background-position: -154px 0;
	position: relative;
	top: 0;
	left: 0;
}
.gouwuche1 span{
	position: absolute;
	left: 40px;
	color: #fff;
	display: block;
}
.so .gouwuche{
	width: 107px;
	height: 28px;
	display: block;
	float: right;
	margin-top: 40px;
}
.gouwuche1 span:hover{
	color: red;
}
.rm{
	width: 400px;
	height: 28px;
	float: right;
}
.rm ul{
	width: 400px;
	height: 28px;
	position: absolute;
	top: 60px;
	left: 750px;
	right: 417px;
}
.rm ul li{
	float: left;
	list-style: none;
	margin-right:5px;
	font-size: 14px;
}
.rm .rm_01{
	color: #808080;
}

 /* 搜索栏结束 */
 /* 导航栏开始 */
.dh{
	width: 1200px;
	height: 50px;
	margin: 0 auto;
}
.dh .fanke{
	width: 160px;
	height: 46px;
	background-image: url('../img/so1.png');
	background-position: 0 -58px;
	float: left;
}
.dh ul{
	list-style: none;
	float: left;
	margin: 0 auto;
}
.dh ul li{
	width: 100px;
	height: 46px;
	line-height: 46px;
	color: #727171;
	margin: 0 auto;
	text-align: center;
	float: left;
}
.dh li span{
	display: block;
	color: #888888;
	float: right;
}
.dh ul .new{
	position: relative;
	top: 0;
	left: 0;
}
.new .new1{
	width: 26px;
	height: 13px;
	position: absolute;
	left: 63px;
	top: -15px;
} 
.new .xl1{
	width: 100px;
	position: absolute;
	top: 46px;
	right:10px;
	padding: 0px;
	z-index: 2;
	border-top: 6px solid red;
	display: none;
	background: #fff;
}
.new:hover .xl1{
	display: block;
	
}
.xl1 .bs:hover{
	color: #B81C22;
}
.dh ul .new2{
	position: relative;
	top: 0;
	left: 0;
}
.new2 .xl1{
	width: 100px;
	position: absolute;
	top: 46px;
	right:10px;
	padding: 0px;
	border-top: 6px solid red;
	z-index: 2;
	display: none;
	background: #fff;
}
.new2:hover .xl1{
	display: block;
}

/* 导航栏结束 */
/* 轮播图开始 */
.wheel{
	width: 1200px;
	height: 550px;
	margin: 0 auto;
}
.wheel img{
	display: block;
}
.wheel{
	position: relative;
	top: 0;
	left: 0;
}
.wheel .left,.right{
	top: 0;
	bottom: 0;
	margin: auto 0;
}
.wheel .left{
	width: 18px;
	height: 60px;
	position: absolute;
	left: 0;
}
.wheel .right{
	width: 18px;
	height: 60px;
	position: absolute;
	right:0;
}
.wheel .left1{
	width: 18px;
	height: 60px;
	background-image: url('../img/foucus1.png');
	background-position: 0 -71px;
}
.wheel .right1{
	width: 18px;
	height: 60px;
	background-image: url('../img/foucus1.png');
	background-position: -61px -71px;
}
.wheel ul li{
	list-style: none;
	width: 12px;
	height: 12px;
	margin-right: 8px;
	float: left;
	background: #808080;
	border-radius: 12px;
}
.wheel .wheel1{
	position: relative;
	top: 0;
	left: 0;
}
.wheel1 ul{
	width: 140px;
	height: 12px;  	
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 70px;
}
.wheel1 ul li:hover{
	background: red;
}

/* 轮播图结束 */
/* 充值返现 */
.cz{
	width: 1200px;
	height: 40px;
	margin: 40px auto;
}
/* 充值返现结束 */
/* 春季新品预售开始 */

.box{
	width: 1200px;
	height: 3868px;
	margin: 0 auto;
}
.box .head1{
	width: 1200px;
	height: 100px;
	color: #9A9A9A;
}
.box a{
	display: block;
	float: left;
	width: 292px;
	height: 471px;
	margin-right: 8px;
}
.box .wbj1{
	margin-right: 0px;
}
.head1 .h2{
	display: block;
	text-align: center;
	line-height: 100px;
}
/* 春季新品预售结束 */
/* 更多精品开始 */
.box01{
	width: 1200px;
	height: 1118px;
	margin: 0 auto;
}
.box01 .boxbottom{
	width: 1200px;
	height: 1038px;
	float: left;
	display: inline-block;
}
.box01 .bt1{
	width: 1200px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	color: #9A9A9A;
}
.box01 .box01_1{
	width: 590px;
	height: 1036px;
}
.box01_1 .jp01{
	width: 590px;
	height: 517px;
	border: 1px solid #E8E7EC;
}
.jp01 .jp01a{
	width: 590px;
	height: 78px;
	text-align: left;
	line-height: 77px;
	display: block;
	color: #333;
}
.box01_1 .jg02{
	width: 590px;
	height: 18px;
	background: #fff;
}
.jp01a .you{
	float: right;
	margin-right: 14px;
	color: #A10000;
}
.jp01b{
	width: 590px;
	height: 517px;
	border: 1px solid #E8E7EC;
}
.jp01b .jp01bb{
	width: 590px;
	height: 77px;
	text-align: left;
	line-height: 77px;
	display: block;
	color: #333;
	margin-bottom: 0;
}
.jp01bb .yo{
	float: right;
	margin-right: 14px;
	color: #A10000;
}
.box01_1 a{
	width: 590px；
	height: 440px;
	display: block;
	float: left;

}
.boxbottom div{
	float: left;
	margin-right: 18px;
}
.boxbottom .box01_2{
	width: 291px;
	height: 1038px;
}
.box01_2 .box01_2a{
	width: 291px;
	height: 249px;
	margin-bottom: 18px; 
}
.box01_2 a{
	width: 291px;
	height: 181px;
	display: block; 
}	
.box01_2a div{
	width: 289px;
	height: 68px;
	text-align: center;
	background: #fff;
	line-height: 68px;
	font-size: 12px;
	border: 1px solid #E8E7EC;
	border-top: 0px;
}
.box01_2a span{
	display: inline-block;
	color: #333359;
	float: left;
	margin-left: 14px;
}
.box01_2a .youhui1{
	margin-right: 14px;
	float: right;
	color: #A10017；
}


.boxbottom .box01_3{
	width: 283px;
	height: 1038px;
	margin-right: 0px;
}
.boxbottom img{
	display: block;
	overflow: hidden;
}
.box01_3 .box1_3a{
	width: 283px;
	height: 519px;
	border: 1px solid #E8E7EC; 
}
.box01_3 a{
	width: 283px;
	height: 440px;
	display: block; 
}	
.box01_3a div{
	width: 291px;
	height: 78px;
	text-align: center;
	background: #fff;
	line-height: 78px;
	font-size: 12px;
	margin-bottom: 18px;
}
.box01_3a span{
	display: inline-block;
	color: #333359;
	float: left;
	margin-left: 14px;
}
.box01_3a .youhui1{
	margin-right: 14px;
	float: right;
	color: #A10017；
}
/* 更多精品结束 */
/* 早春直降特惠区开始 */
.box02{
	width: 1200px;
	height: 598px;
	margin: 18px auto;
}
.box02 .box02_top{
	width: 1200px;
	height: 88px;
}
.box02_top span{
	display: block;
	font-size: 20px;
	line-height: 88px;
	text-align: center;
	color: #9A9A9A;
}
.box02 .box02_bottom{
	width: 1200px;
	height: 510px;

}
.box02 .box02_bottom div{
	float: left;
}
.box02 .box02_bottom a{
	display: block;
}
.box02_1a{
	width: 590px;
	height: 510px;
}
.box02_1a a{
	display: block;
	width: 590px;
	height: 440px;	
}
.box02_1a .box02_1a1{
	width: 588px;
	height: 69px;
	border: 1px solid #E8E7EC;
}
.box02_1 span{
	display: inline-block;
	color: #333359;
	float: left;
	margin-left: 14px;
	text-align: center;
	line-height: 69px;
}
.box02_1a1 .youhui2{
	margin-right: 14px;
	float: right;
	color: #A10000;
} 
.box02_2 {
	width: 290px;
	height: 510px;
	border: 1px solid #E8E7EC;
	float: left;
	margin-left: 18px;
}
.box02_2 .box02_2a{
	width: 290px;
	height: 244px;
}
.box02_2a .box02_2a1{
	width: 290px;
	height: 69px;
	border: 1px solid #E8E7EC;
	border-top: 0px;
	margin-bottom: 18px;
}
.box02_2a1 span{
	color: #333359;
	float: left;
	margin-left: 14px;
	text-align: center;
	line-height: 69px;
}
.box02_2a1 .youhui2{
	color: #a00001;
}
.box02_3{
	width: 286px;
	height: 510px;
}
.box02_3 .box02_1b{
	width: 286px;
	height: 440px;
}
.box02_1b .box02_1b1{
	width: 286px;
	height: 69px;
	border: 1px solid #E8E7EC;
	border-top: 0px; 	
}
.box02_1b1 span{
	color: #333359;
	display: inline-block;
	margin-left: 10px;
	font-size: 14px;
	text-align: center;
	line-height: 69px;
}
.box02_1b1 .youhui3{
	color: #a00001;
}
/* 早春直降特惠区结束 */
/* 韩国狗开始 */
.box03{
	width: 1200px;
	height: 598px;
	margin: 18px auto;
}
.box03 div{
	float: left;
}
.box03 .box03_top{
	width: 1200px;
	height: 88px;
}
.box03_top span{
	display: block;
	font-size: 20px;
	line-height: 88px;
	text-align: center;
	color: #9A9A9A;
}
.box03 .box03_bottom{
	width: 1200px;
	height: 510px;

}
.box03 .box03_bottom div{
	float: left;
}
.box03.box03_bottom a{
	display: block;
}
.box03_1{
	width: 590px;
	height: 510px;
}
.box03_1a{
	width: 590px;
	height: 440px;
}
.box03_1a a{
	display: block;
	width: 590px;
	height: 440px;	
}
.box03_1a .box03_1a1{
	width: 588px;
	height: 69px;
	border: 1px solid #E8E7EC;
}
.box03_1a1 span{
	display: inline-block;
	color: #333359;
	float: left;
	margin-left: 14px;
	text-align: center;
	line-height: 69px;
}
.box03_1a1 .youhui4{
	margin-right: 14px;
	float: right;
	color: #A10000;
} 
.box03_2 {
	width: 290px;
	height: 510px;
	border: 1px solid #E8E7EC;
	float: left;
	margin-left: 18px;
}
.box03_2 .box03_2a{
	width: 290px;
	height: 244px;
}
.box03_2a .box03_2a1{
	width: 290px;
	height: 69px;
	border: 1px solid #E8E7EC;
	border-top: 0px;
	margin-bottom: 18px;
}
.box03_2a1 span{
	color: #333359;
	float: left;
	margin-left: 14px;
	text-align: center;
	line-height: 69px;
}
.box03_2a1 .youhui2{
	color: #a00001;
}
.box03_2b{
	width: 286px;
	height: 510px;
}
.box03_3 .box03_1b{
	width: 286px;
	height: 440px;
}
.box03_1b .box03_1b1{
	width: 286px;
	height: 69px;
	border: 1px solid #E8E7EC;
	border-top: 0px; 	
}
.box03_1b1 span{
	color: #333359;
	display: inline-block;
	margin-left: 10px;
	font-size: 14px;
	text-align: center;
	line-height: 69px;
}
.box03_1b1 .youhui3{
	color: #a00001;
} 
/* 韩国狗结束 */
/* 客服模块开始 */
.kf{
	width: 1198px;
	height: 282px;
	margin: 0 auto;
	margin-top: 18px;
	list-style: none;
	border: 1px solid #E0E0E1;
	margin-bottom: 18px;
}

.kf a{
	display: block;
}
.kf .mks{
	width: 1121px;
	height: 194px;
	margin: 0 auto;
}
.kf .mkx{
	width: 1120px;
	height: 57px;
	background: #F8F8F8;
	margin: 0 auto;
}
.mks .mkss{
	width: 1120px;
	height: 33px;
}
.mks .mks1{
	width: 370px;
	height: 138px;
	margin-left: 4px;
	float: left;
}
.mks1 img{
	display: block;
	margin: 16px auto; 
}
.mks1 .mks1a{
	width: 157px;
	height: 32px;
	background: #B81C22;
	margin: 0 auto;
	text-align: center;
	line-height: 32px;
	color: #fff;
}
.mks .mks2{
	width: 370px;
	height: 138px;
	border-left: 1px solid #E0E0E1;
	border-right: 1px solid #E0E0E1;
	float: left;	
}
.mks2 img{
	display: block;
	margin: 16px auto ;
}
.mks2 span{
	display: block;
	text-align: center;
	color: #727171;
}
.mks .mks3{
	width: 370px;
	height: 138px;
	float: left;
	text-align: center;
}
.mks3 .wx02{
	width: 105px;
	height: 105px;
	background-image: url('../img/mk03a.jpg');
	background-size: 105px 105px;
	margin: 8px	 auto;
}
.mks3 span{
	color:#727171;
}
.mks3 .hs{
	color: #A33F3F;
}
.mkx ul{
	list-style: none;
	float: left;
}
.mkx ul li{
	float: left;
	margin: 0 20px;
}
.mkx .shu{
	color: #DADADB;
}
/* 客服模块结束 */
/* copyright */
.cprt{
	width: 1200px;
	height: 80px;
	margin: 0 auto;
	margin-bottom:18px;

}
.zhixian{
	width: 1200px;
	height: 1px;
	background: #000;
	margin: 0 auto;
	margin-bottom: 18px;
}
.cprt span{
	display: block;
	font-size: 12px;
	text-align: center;
	color: #B6718F;
}
/* copyright结束 */
/* 底部图标开始 */
.db001{
	width: 1200px;
	height: 88px;
	margin-left: 588px;

}
.db001 .tubiao1{
	width: 112px;
	height: 41px;
	background-image: url('../img/dibu1.png');
	background-position: 0 -581px;
	display: inline-block;
	margin-right: 22px;
}
.db001 .tubiao2{
	width: 156px;
	height: 45px;
	background-image: url('../img/dibu1.png');
	background-position: 0 -630px;
	display: inline-block;
	margin-right: 22px;
}
.db001 .tubiao3{
	width: 95px;
	height: 48px;
	background-image: url('../img/dibu1.png');
	background-position: 0 -675px;
	display: inline-block;
	margin-right: 22px;
}
.db001 .tubiao4{
	width: 105px;
	height: 50px;
	background-image: url('../img/dibu1.png');
	background-position: -95px -675px;
	display: inline-block;	
	margin-right: 22px;
}
.db001 .tubiao5{
	width: 50px;
	height: 50px;
	background-image: url('../img/dibu1.png');
	background-position: -200px -675px;
	display: inline-block;
	margin-right: 22px;
}
.db001 .tubiao6{
	width: 121px;
	height: 50px;
	background-image: url('../img/dibu6.png');
	display: inline-block;
	background-size: 121px 41px;
	background-repeat: no-repeat;
}
/* 底部图标结束 
/* 右侧固定开始 */
.youce{
	width: 75px;
	height: 205px;
	border: 1px solid #B81B22;
	position: fixed;
	bottom: 100px;
	right: 10px;

}
.youce .youce1{
	width: 75px;
	height:70px;
	background-image: url('../img/youce.png');
	background-position: 0 0;
}
.youce .youce2{
	width: 75px;
	height:70px;
	background-image: url('../img/youce.png');
	background-position: 0 -70px;
}
.youce .youce3{
	width: 75px;
	height:65px;
	background-image: url('../img/youce.png');
	background-position: 0 -140px;
}
.youce a{
	display: block;
}
/* 右侧固定结束 */